<% cache [action_name, I18n.locale, resource.site, resource, "home"] do %>
	<%= render_html_text(resource.body) %>
<% end %>

<div id="homeModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <a class='close' data-dismiss='modal' id="closeHomeModal">&times;</a>    
    <h3>DAY PASS GIFTS «&nbsp;DISCOVER&nbsp;»</h3>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span6">
          <%= image_tag("popup00.jpg" )%>
          <h3>Half-day PASS 190€/pers.</h3>
          <p>glass of champagne <br/>
            + lunch at Indigo (beverages and « signature » plates excluded)<br/>
            + 1h spa treatment<br/>
            + access to the beach and transat service</p>
        </div>
        <div class="span6">
          <%= image_tag("popup01.jpg" )%>
          <h3>Day pass 220€/pers.</h3>
          <p>breakfast + 1h spa treatment + glass of champagne<br/>
            + lunch at Indigo (beverages and « signature » plates excluded)<br/>
            + access to the beach and transat service</p>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
          <p><em>Available only upon reservation : 0590&nbsp;52&nbsp;90&nbsp;36. Contact us for more information.</em></p>
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for :after_javascript_libraries do %>
<script type="text/javascript">
	$(document).ready(function() {
    $("#closeHomeModal").on("click", function(){
      $("#homeModal").remove();
    });
	});
</script>
<% end %>