$orangeDark: #E35E01;
$customGreen: #64edd9;
$customGreenDark: #5fdac8;
$customPurple: #c1b6f9;
$customPurpleDark: #aaa3d5;

// Variables.less
// Variables to customize the look and feel of Bootstrap
// -----------------------------------------------------



// GLOBAL VALUES
// --------------------------------------------------

// Grays
// -------------------------
$black:                 #000;
$grayDarker:            #222;
$grayDark:              #808285;
$gray:                  #555;
$grayLight:             #999;
$grayLighter:           #eee;
$white:                 #F2F1ED;


// Accent colors
// -------------------------
$blue:                  #049cdb;
$blueDark:              #0064cd;
$green:                 #59A9A1;
$red:                   #9d261d;
$yellow: #FF9000;
$orange: #FFAB00;
$pink:                  #c3325f;
$purple:                #7a43b6;


// Scaffolding
// -------------------------
$bodyBackground:        $white;
$textColor:             $grayDark;


// Links
// -------------------------
$linkColor:             $green;
$linkColorHover:        darken($linkColor, 15%);


// Typography
// -------------------------
$sansFontFamily:        "museo-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serifFontFamily:       "museo-slab", Georgia, "Times New Roman", Times, serif;
$monoFontFamily:        Menlo, Monaco, Consolas, "Courier New", monospace;

$baseFontSize:          13px;
$baseFontFamily:        $sansFontFamily;
$baseLineHeight:        18px;
$altFontFamily:         $serifFontFamily;

$headingsFontFamily:    $serifFontFamily; // empty to use BS default, @baseFontFamily
$headingsFontWeight:    100;    // instead of browser default, bold
$headingsColor:         $orange; // empty to use BS default, @textColor


// Tables
// -------------------------
$tableBackground:                   transparent; // overall background-color
$tableBackgroundAccent:             #f9f9f9; // for striping
$tableBackgroundHover:              #f5f5f5; // for hover
$tableBorder:                       #ddd; // table and cell border


// Buttons
// -------------------------
$btnBackground:                     $white;
$btnBackgroundHighlight:            darken($white, 10%);
$btnBorder:                         #ccc;

$btnPrimaryBackground:              $linkColor;
$btnPrimaryBackgroundHighlight:     adjust-hue($btnPrimaryBackground, 15%);

$btnInfoBackground:                 #5bc0de;
$btnInfoBackgroundHighlight:        #2f96b4;

$btnSuccessBackground:              #62c462;
$btnSuccessBackgroundHighlight:     #51a351;

$btnWarningBackground:              lighten($orange, 15%);
$btnWarningBackgroundHighlight:     $orange;

$btnDangerBackground:               #ee5f5b;
$btnDangerBackgroundHighlight:      #bd362f;

$btnInverseBackground:              $gray;
$btnInverseBackgroundHighlight:     $grayDarker;


// Forms
// -------------------------
$inputBackground:               $white;
$inputBorder:                   #ccc;
$inputBorderRadius:             3px;
$inputDisabledBackground:       $grayLighter;

$formActionsBackground:         #f5f5f5;

// Dropdowns
// -------------------------
$dropdownBackground:            $orange;
$dropdownBorder:                rgba(0,0,0,.2);
$dropdownLinkColor:             $white;
$dropdownLinkColorHover:        $white;
$dropdownLinkBackgroundHover:   $orangeDark;
$dropdownDividerTop:            $orangeDark;
$dropdownDividerBottom:         $white;

// COMPONENT VARIABLES
// --------------------------------------------------

// Input placeholder text color
// -------------------------
$placeholderText:       $grayLight;


// Hr border color
// -------------------------
$hrBorder:              $grayLighter;

// Navbar
// -------------------------
$navbarHeight:                    40px;
$navbarBackground:                $grayDarker;
$navbarBackgroundHighlight:       $grayDark;

$navbarText:                      $grayLight;
$navbarLinkColor:                 $grayLight;
$navbarLinkColorHover:            $white;
$navbarLinkColorActive:           $navbarLinkColorHover;
$navbarLinkBackgroundHover:       transparent;
$navbarLinkBackgroundActive:      $navbarBackground;

$navbarSearchBackground:          lighten($navbarBackground, 25%);
$navbarSearchBackgroundFocus:     $white;
$navbarSearchBorder:              darken($navbarSearchBackground, 30%);
$navbarSearchPlaceholderColor:    #ccc;
$navbarBrandColor:                $navbarLinkColor;


// Hero unit
// -------------------------
$heroUnitBackground:              $grayLighter;
$heroUnitHeadingColor:            inherit;
$heroUnitLeadColor:               inherit;


// Form states and alerts
// -------------------------
$warningText:             #c09853;
$warningBackground:       #fcf8e3;
$warningBorder:           darken(adjust_hue($warningBackground, -10deg), 3%);

$errorText:               #b94a48;
$errorBackground:         #f2dede;
$errorBorder:             darken(adjust_hue($errorBackground, -10deg), 3%);

$successText:             #468847;
$successBackground:       #dff0d8;
$successBorder:           darken(adjust_hue($successBackground, -10deg), 5%);

$infoText:                #3a87ad;
$infoBackground:          #d9edf7;
$infoBorder:              darken(adjust_hue($infoBackground, -10deg), 7%);

// Navbar (gko addon)
// -------------------------
$navbarLinkBackground:            transparent;	
// Footer (gko addon)
// -------------------------
$footerHeight:                    40px;
$footerBackground:                transparent;
$footerText:                      $navbarText;
$footerLinkColor:                 $textColor;
$footerLinkBackground:       	  transparent;
$footerLinkColorHover:            $grayDarker;
$footerLinkBackgroundHover:       transparent;
// Copyright (gko addon)
// -------------------------
$copyrightHeight:                    22px;
$copyrightBackground:                $footerBackground;
$copyrightText:                      $footerText;
$copyrightLinkColor:                 $footerLinkColor;
$copyrightLinkBackground:            $footerLinkBackground;
$copyrightLinkColorHover:            $footerLinkColorHover;
$copyrightLinkBackgroundHover:       $footerLinkBackgroundHover;

// Import
@import "twitter.2.0.4/bootstrap";
@import "gko/public/base";
@import "galleria";

a:focus,
.btn:focus {
  outline: 0;
}

/*-----------------------------------------
 GALLERIA
----------------------------------------- */
.galleria-container {
	background: none;
}
/*-----------------------------------------
 LAYOUT
----------------------------------------- */
#wrapper-wide-body {
	max-width: 1025px;
	@include box-sizing(border-box);
	@include box-shadow(1px 0 14px rgba(0,0,0,.4));
	@include center-block();
	background-color: #fff;
}

	// Website or project name
.brand {
	text-align: center;
	padding: 0;
	a {
		padding: 0;
		margin: 0 auto;
		cursor: pointer;
		text-decoration: none;
		display: block;
		width: 231px;
		height: 150px;
		@include hide-text;
		background: white image-url("logo.gif") center center no-repeat;// After hide-text !!!
		background-size: contain;
	}
}
#primary-menu {
	
	.nav > li {
		margin-top: 1px;
	}
	.nav > li > a {
		padding: 6px 15px;
		background-color: $orange;
		color: $white;
		font-size: 16px;
		line-height: 27px;
		@include transition(background-color .5s linear);
		
		&:hover {
			text-decoration: none;
			background-color: $orangeDark;
		}
	}
	.nav .dropdown-menu {
		@include border-radius(0);
	}
	.nav li.green a,
	.nav li.green + ul > li,
	.nav li.green + ul > li > a {
		background-color: $customGreenDark;
		&:hover {
			background-color: $customGreen;
		}
	}
	.nav li.green .dropdown-menu {
		background-color: $customGreenDark;
	}
	.nav li.purple a,
	.nav li.purple + ul > li,
	.nav li.purple + ul > li > a {
		background-color: $customPurpleDark;
		&:hover {
			background-color: $customPurple;
		}
	}
	.nav li.purple .dropdown-menu {
		background-color: $customPurpleDark;
	}
	.caret {
		content: "";
		border: none;
		margin-top: 0;
		margin-left: 8px;
		opacity: 1;
		&:before {
			content: "\2192";
		};
	}
	.dropdown-menu li > a {
		color: white;
	}
	
}
.btn-navbar {
	display: none;	
	padding: 9px 14px;
	text-shadow: none;
	text-transform: uppercase;
}
.dropdown-menu ul {
	list-style: none;
}

#book-online-btn {
	@include buttonBackground($customGreen, $customGreenDark);
	color: $white;
	text-shadow: none;
	text-transform: uppercase;
	font-size: $baseFontSize - 1;
}
#virtual-tours-btn {
	@include buttonBackground($customPurple, $customPurpleDark);
	color: $white;
	text-shadow: none;
	text-transform: uppercase;
	font-size: $baseFontSize - 1;
}
#locales-btn,
#locales a {
	text-transform: uppercase;
	font-size: $baseFontSize - 1;
}

#locales {
	z-index: 10;
}
/*-----------------------------------------
 FOOTER
----------------------------------------- */
#footer {
	margin: 32px 0;
	color: #939598;
	
	h3 {
		color: $grayDark;
	}
	.nav > li {
		float: none;
	}
	.nav > li > a {
		float: none;
		padding: 4px 10px 4px 0px;
		line-height: 14px;
		text-decoration: none;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	}
}
/*-----------------------------------------
 COPYRIGHT
----------------------------------------- */
#copyright {
	margin: 32px 0;
	color: #939598;
	.nav {
		float: left;
		
	}
	.nav > li {
		display: block;
		float: right;
	}
	.nav > li > a {
		float: none;
		padding: 9px 10px 11px;
		line-height: 14px;
		text-decoration: none;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		font-size: 10px;
	}
}
#site-by {
	float:right;
	font-size: 10px;
	line-height: 14px;
}
.main-content {
	background-color: $white;
	padding: 24px;
	min-height: 320px;
}
.container-fluid#main-container {
	padding-top: 0;
}

/*-----------------------------------------
 GRIDS
----------------------------------------- */
.thumbnail {
	border: none;
	@include box-shadow("none");
	.caption {
		padding: 9px 0;
	}
}
ul#grid-document_items {
	.thumbnail {
		h2.title {
			font-size: 18px;
			text-transform: capitalize;
		}
	}
}
ul#parent-categories-filter {
	@include clearfix;
	li {
		float: left;
		a {
			padding: 0 8px;
			&:first-child {
				padding-left: 0;
				text-transform: capitalize;
			}
		}
	}	
} 
/*-----------------------------------------
 TYPOGRAPHY
----------------------------------------- */
h1.page-title {
	margin-bottom: $baseLineHeight;
}

/*-----------------------------------------
 RESPONSIVE
----------------------------------------- */
// REPEAT VARIABLES & MIXINS
// -------------------------
// Required since we compile the responsive stuff separately

@import "twitter.2.0.4/bootstrap/variables"; // Modify this for custom colors, font-sizes, etc
@import "twitter.2.0.4/bootstrap/mixins";
@import "twitter.2.0.4/bootstrap/responsive-utilities";
@import "twitter.2.0.4/bootstrap/responsive-767px-max";
@import "twitter.2.0.4/bootstrap/responsive-768px-979px";
@import "twitter.2.0.4/bootstrap/responsive-1200px-min";
@import "responsive-navbar";
@import "gko/default_responsive";

@media (max-width: 480px)
{
    .modal {
        position: fixed;
        top: 3%;
        right: 3%;
        left: 3%;
        bottom: 3%;
        width: auto;
        margin: 0;
    }
    .modal-body {
        max-height: 270px;
        padding: 15px;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
     }
}

@media (max-width: 767px) {
	.top-btn-bar {
		float: none;
		@include clearfix;
		text-align: center;
		margin-top: $baseLineHeight / 2;
		margin-bottom: $baseLineHeight / 2;
	}
	#footer .span3 {
		clear: both;
	}
	.galleria-thumbnails-container {
		display: none;
	}


		.nav-collapse .dropdown-menu {
			margin-top: 1px;
			background-color: $orange;
		}
		.nav-collapse .dropdown-menu a {
			padding: 6px 15px;
			background-color: $orange;
			color: $white;
			font-size: 16px;
			line-height: 27px;
			@include border-radius(0);
			@include transition(background-color .5s linear);

			&:hover {
				text-decoration: none;
				background-color: $orangeDark;
			}
		}

		.nav li.green a,
		.nav li.green + ul > li,
		.nav li.green + ul > li > a {
			background-color: $customGreenDark;
			&:hover {
				background-color: $customGreen;
			}
		}
		li.green .dropdown-menu {
			background-color: $customGreenDark;
		}
		.nav li.purple a,
		.nav li.purple + ul > li,
		.nav li.purple + ul > li > a {
			background-color: $customPurpleDark;
			&:hover {
				background-color: $customPurple;
			}
		}
		li.purple .dropdown-menu {
			background-color: $customPurpleDark;
		}
		.dropdown-menu li > a {
			color: white;
		}
		
		.nav-collapse .dropdown-menu {
			margin: 0;
			padding: 0 15px;
		}
		/*-----------------------------------------
		 MODAL
		----------------------------------------- */
		.modal-body {
			max-height: 400px;
		}
}

@media (min-width: 768px) {
	.container-fluid {
		padding: 10px;
	}
	.brand {
		position: absolute;
		z-index: 10000;
	}
	.nav-collapse .dropdown-menu {
		top: 0;
		left: 100%;
	}
	#primary-menu {
		@include box-shadow(2px 2px 12px rgba(0,0,0,.2));
		
	}
	body.noslideshow #main-row {
		margin-top: 68px;
	}
	/*-----------------------------------------
	 FORM
	----------------------------------------- */
	.span6 {
		input, textarea, select {
			width: 180px;
		}
	}
	/*-----------------------------------------
	 FOOTER
	----------------------------------------- */
	#footer-container {
		max-width: 1025px;	
		@include center-block;
	}
	#footer {
		.span3 {
			min-height: 300px;
			border-left: 1px solid #fff;
			padding: 0 20px;
		}
	}
	/*-----------------------------------------
	 COPYRIGHT
	----------------------------------------- */
	#copyright-container {
		max-width: 1025px;	
		@include center-block;
	}
	/*-----------------------------------------
	 MODAL
	----------------------------------------- */

	.modal-body {
		max-height: 400px;
	}
}

@media (min-width: 860px) {
	/*-----------------------------------------
	 MODAL
	----------------------------------------- */
	.modal {
		width: 834px;
		margin-left: -417px;
	}
	.modal-body {
		max-height: 480px;
	}
}